PAGE_SET_FILE=data/queries/page_targets.json
INDEXNOW_KEY=b9e9166f9d6046c3a9699a77f2c0d948
INDEXNOW_KEY_LOCATION=https://horselegalguide.com/indexnow.txt
GSC_SITE_URL=sc-domain:horselegalguide.com
SITE_DOMAIN=https://horselegalguide.com
CANONICAL_DOMAIN=https://wisecovington.com
SIGNAL_SOURCE_TIMEOUT_MS=7000
SIGNAL_FETCH_TIMEOUT_MS=7000
SIGNAL_SOURCE_LIMIT=0
SIGNAL_COLLECT_SEQUENTIAL=true
REDDIT_PUBLIC_PREFER_RSS=true
REDDIT_PUBLIC_LIMIT=5
REDDIT_PUBLIC_MAX_SIGNALS=20
REDDIT_PUBLIC_TERM_LIMIT=3
REDDIT_PUBLIC_DELAY_MS=900
